@charset "UTF-8";
* {margin:0; padding:0; box-sizing:border-box;}
ul, ol {list-style:none;}
a {text-decoration:none; color:#222;}
table, th, td {border-collapse:collapse;}
/* .pad10 {padding:10px;}
.mrg10 {margin:10px;}
.fnt18 {font-size:18px;}
.btn-list {background: #FA8258; color:#fff; border:0px; padding:8px 14px; }
.btn-write {background: #2E9AFE; color:#fff; border:0px; padding:8px 14px; }
.btn-save {background: #A0522D; color:#fff; border:0px; padding:8px 14px; margin-top:10px; }
.btn-delete {background: #FF0080; color:#fff; border:0px; padding:8px 14px; }
.blind {width:0; height: 0; overflow:hidden; font-size:0;} */ */

html { font-family: sans-serif; width: 100%; min-height:100%; background: #eee;}
body { width: 100%; min-height:100%; background: white; }

.center{
    text-align: center;
}

.small{
    font-size: 10px;
}

.underbar{
    text-decoration: underline;
}
.red{
    color: rgb(222, 22, 22);
}
ul li a {
    font-size:18px;
    display:inline-block;
    padding:8px 16px 12px 16px;
    text-decoration: none;
}
.wrap{width:100%; min-height: 100%; padding-bottom: 30em; position:relative;}

.icon {width:30px; height:30px;}


.intro_member {
    width : 100em;
    height : 27.5em;
    margin: 5em auto;
    padding : 1em auto;
    text-align: center;
}
.member {
    margin-left:0.5em;
    width: 23em; 
    height: 100%;
    display:inline;
    float: left;
}
.intro_img{
    width: 20em;
    height: 10em;
    vertical-align: middle;
    text-align: center;
}
.intro_img > img{
    width: 20em;
    height: 10em;
    object-fit: contain;
}

.circle{
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
