<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DCT | {% block title %}{{ title }}{% endblock %}</title>    
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css" >
    <link rel="stylesheet" type="text/css" href="../static/footer.css" >
    <link rel="stylesheet" type="text/css" href="../static/common.css" >
    <link rel ="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">
    <script src="../static/common.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>
    <script src="../static/prism.js"></script>
    <script src="../static/sweetalert.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <script src="../static/jquery.canvasResize.js"></script> 
    <script src="../static/canvasResize.js"></script>     
    <script src="../static/jquery.exif.js"></script> 
    {% block src %}{% endblock %}
    {% endblock %}
</head>

<!-- <body onload="window.self.focus();"> -->
<body>
  <div class="wrap bg-dark">
    {% block wrap %}{% endblock %}
  </div>
  {% include 'frm_footer.html' ignore missing%}
  <script>
    $(document).ready(() => {
      $(".nav-link").removeClass('active');
      let pageSrc = document.location.href.split('/');
      let now = ""
      if (pageSrc.includes('home')){
        now = "/home";
      }else{
        now = "/set";
      }
      let navLinks = $('.nav-link')
      $.each(navLinks, function(index, item){
        let LinkSrc = $(this).attr('href');
        if (now == LinkSrc){
          $(this).addClass('active');
        }
      })
    });
  </script>
</body>
</html>