<section class="set_Area bg-dark">
   <div class="flex-row">
      <form method = "POST" name="area" class="flex-auto" action="/set/map/upload_result" enctype="multipart/form-data">
         <table class="setArea">
            <thead>
               <tr>
                  <th>이름</th>
                  <th>설계도면 사진</th>
                  <th colspan="2"></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td class="pd-1">
                     <input type="text" name="A_NAME" class="form-control " placeholder="공간 이름을 입력해 주세요.">
                     <div class="feedback A_NAME"></div>
                  </td>
                  <td class="pd-1">
                     <input class="form-control" type="file" name="file">
                     <div class="feedback A_SRC"></div>
                  </td>
                  <td class="pd-1">
                     <input type="button" onclick="previewIMG();" value="사진 미리보기" class="btn btn-success" style="user-select: auto;">
                  </td>
                  <td class="pd-1">
                     <input type="button" onclick="uploadIMG();" value="업로드" class="btn btn-primary" style="user-select: auto;">
                  </td>
               </tr>
               <tr colspan="3" id="previewDiv pd-1">
                  <input type="number" name="angle" value="0" hidden>
                  <input type="button" onclick="previewIMG(90);" name="rotation" value="이미지 90도 회전" class="btn btn-success" hidden>
               </tr>
            </tbody>
         </table>
      </form>
   {% include 'area_list.html' ignore missing%}
   </div>
</section>