<div class="bg-dark pd_top_1" id="set_Robot">
    <div class="set_list">
        <h3>로봇 설정(총 {{ set_list['robot'] | length }}개)</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>모델명</th>
                    <th>상태</th>
                    <th>앵커1 ID</th>
                    <th>앵커1 상태</th>
                    <th>앵커2 ID</th>
                    <th>앵커2 상태</th>
                    <th>앵커3 ID</th>
                    <th>추종 태그</th>
                    <th>이동 좌표</th>
                    <th colspan="2"><button type="button" class="btn btn-primary" onclick="addData();">추가</button></th>
                </tr>
            </thead>
            <tbody>
                <tr class="Robot_form" hidden>
                    <td></td>
                    <td>
                        <input type="text" name="R_MODEL" class="form-control" placeholder="모델명을 입력해 주세요.">
                        <div class="feedback R_MODEL"></div>
                    </td>
                    <td>대기</td>
                    <td>
                        <input type="text" name="R_ANCHOR1_ID" class="form-control" readonly>
                    </td>
                    <td>0</td>
                    <td>
                        <input type="text" name="R_ANCHOR2_ID" class="form-control" readonly>
                    </td>
                    <td>0</td>
                    <td>
                        <input type="text" name="R_ANCHOR3_ID" class="form-control" readonly>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary"  onclick="scanRobot();">스캔</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="submitData('ROBOT');">등록</button>
                    </td>
                </tr>
                {% if set_list['robot'] != [] %}
                    {% for td in set_list['robot'] %}
                    <tr>
                        {% for data in td %}
                            <td>{{ data }}</td>
                        {% endfor %}
                        <td>
                            <button type="button" class="btn btn-primary" onclick="editData('ROBOT', {{ no }});">수정</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="deleteData('ROBOT', {{ no }});">삭제</button>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="12">등록된 로봇 없음</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>