{% extends "frm_body.html" %}
{% block head %}
{% block src %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="./static/jquery.canvasResize.js"></script> 
<script src="./static/canvasResize.js"></script>     
<script src="./static/jquery.exif.js"></script> 
{% endblock %}
{{ super() }}
{% endblock %}
{% block wrap %}
{% include 'frm_header.html' ignore missing%}
<div>
   <div class="setting_section">
   <section id="set_map">
      <div>
         <form method = "POST" class="setting_form" name="area" action="/set/map/upload_result" enctype="multipart/form-data">
            <div  class="form-group">
               <label for="A_NAME" class="col-form-label mt-4">공간 이름</label>
               <input type="text" name="A_NAME" class="form-control" placeholder="공간 이름을 입력해 주세요.">
               <div class="feedback A_NAME"></div>
            </div>
            <div>
               <label for="file" class="col-form-label mt-4">스마트팜 설계도면 사진</label>
               <input class="form-control" type="file" name="file">
               <div class="feedback A_SRC"></div>
            </div>
            <input type="number" name="angle" value="0" hidden>
            <div style="margin-top:1rem;">
               <input type="button" onclick="previewIMG();" value="사진 미리보기" class="btn btn-outline-success" style="user-select: auto;">
               <input type="button" onclick="previewIMG(90);" name="rotation" value="이미지 90도 회전" class="btn btn-outline-success">
               <input type="button" onclick="uploadIMG();" value="업로드" class="btn btn-outline-primary" style="user-select: auto;">
            </div>
            <div id="previewDiv">
            </div>
         </form>
   </section>
   {% in range() %}
      <section class="bg-dark" id="{{ set_list[i]['id'] }}">
         <div class="set_list">
            <h3>{{ set_list[i]['title'] }}</h3>
            <table class="table table-hover">
               <thead>
                     <tr>
                        {% for set_col in set_list[i]['th'] %}
                           <th>{{ set_col }}</th>
                        {% endfor %}
                        <th colspan="2"><button type="button" class="btn btn-primary">추가</button></th>
                     </tr>
               </thead>
               {% if set_list[i]['td'] is defined %}
                  {% for set_data in set_list[i]['td'] %}
                     <tr>
                        {% for data in set_data %}
                           <td>{{ data }}</td>
                        {% endfor %}
                        <th><button type="button" class="btn btn-primary">수정</button></th>
                        <th><button type="button" class="btn btn-primary">삭제</button></th>
                     </tr>
                  {% endfor %}
               {% else %}
                  <tr>
                     <td colspan="4">등록된 {{ set_list[i]['title'] }} 없음</td>
                  </tr>
               {% endif %}
            </table>
         </div>
      </section>
   {% endfor %}
   </div>
   {% include 'sec_area.html' ignore missing%}
</div>
{% include 'frm_footer.html' ignore missing%}
{% endblock %}