{% extends "frm_body.html" %}
{% block head %}
{% block src %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="./static/jquery.canvasResize.js"></script> 
   <script src="./static/canvasResize.js"></script>     
   <script src="./static/jquery.exif.js"></script> 
{% endblock %}
{{ super() }}
{% endblock %}
{% block wrap %}
{% include 'frm_header.html' ignore missing%}
<div>
   <div>
      <ol class="breadcrumb">
          <li class="breadcrumb-item white"><a href="/set">관리 및 설정</a></li>
      </ol>
   </div>
   <div class="setting_section">
      {% include 'sec_area.html' ignore missing%}
      {% include 'sec_ft.html' ignore missing%}
      {% include 'sec_robot.html' ignore missing%}
      {% include 'sec_ut.html' ignore missing%}
      {% include 'sec_way.html' ignore missing%}
   </div>
</div>
{% endblock %}