<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIAMOND | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css" >
    <link rel="stylesheet" type="text/css" href="/static/footer.css" >
    <link rel="stylesheet" type="text/css" href="/static/common.css" >
    <script src="/static/common.js?num=df"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/prism.js"></script>
    <script src="/static/sweetalert.min.js"></script>
    <script src="/static/custom.js"></script>
    

    {% block src %}{% endblock %}
    {% endblock %}
</head>
<body>
    <div class="wrap">
        {% block wrap %}{% endblock %}
        <footer class="footer-distributed">
          <div class="footer-left">
            <h3>DIAMOND</h3>
            <p class="footer-links">
              <a href="/" class="link-1">Home</a>
              <a href="/diamond/shop">Shop</a>
              <a href="/service/faq">FAQ</a>
            </p>
            <p class="footer-company-name">Ⓒ PROJECT TEAM DIAMOND</p>
          </div>      
          <div class="footer-center">
            <div>
              <img src="/static/img/map.png">
              <p><span>광주광역시, 동구 제봉로 92 대성학원 1~3층</span>인공지능 사관학교<br>AI모델링TRACK 사물지능 6강의실</p>
            </div>
            <div>
              <img src="/static/img/tel.png">
              <p> 062-710-3257~9<br>10시 ~ 17시 (월~금)</p>
            </div>
            <div>
              <img src="/static/img/email.png">
              <p><a href="mailto:diamond@company.com">diamond@company.com</a></p>
            </div>
          </div>
          <div class="footer-right">
            <p class="footer-company-about">
              <span>About the company</span>
              광주인공지능사관학교 AI모델링Track 사물지능을 배우고 있는 학생들로 구성된 1차 프로젝트 팀으로
              도마뱀 IoT 사육장 키트를 제작하고 있습니다.
            </p>
            <!-- <div class="footer-icons">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-github"></i></a>
            </div> -->
          </div>
        </footer>
    </div>
    
    <script>
      $(document).ready(() => {
        alertInfo();
        navSet();
        if (loc == ["login"].toString()){
          checkForm();
//           //네이버 로그인
//     //버튼 생성
//     var naver_id_login = new naver_id_login("58VENhxe4RuqFKX9sZ5e", "http://192.168.30.69:5020/login/result");
//     var state = naver_id_login.getUniqState();
//     naver_id_login.setButton("green", 3,60);  //버튼 색, 버튼 타입, 버튼 높이
//     naver_id_login.setDomain("http://192.168.30.69:5020/login/result");
//     naver_id_login.setState(state);
//     naver_id_login.setPopup(); // 팝업을 통한 연동 처리 여부
//     naver_id_login.init_naver_id_login();
    
//     //콜백 처리
// 	// 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
// 	// function naverSignInCallback() {
// 	// 	// naver_id_login.getProfileData('프로필항목명');
//     //     alert(naver_id_login.getProfileData('name'));
// 	// 	alert(naver_id_login.getProfileData('email'));
// 	// 	alert(naver_id_login.getProfileData('mobile'));
// 	// }

// // 카카오 로그인
//     window.Kakao.init("926f082d2c2f0d7497d2efa1d0a0f752");

//     function kakaoLogin() {
//         window.Kakao.Auth.login({
//             scope:'account_email, talk_message',
//             success: function(authoObj) {
//                 console.log(authObj); // 로그인 완료
//                 window.Kako.API.request({  //로그인 정보 가져오기
//                     url: '/v2/user/me',
//                     success: res => {
//                         const kakao_account = res.kakao_account;
//                         console.log(kakao_account);
//                     }
//                 });
//             }});
//         }

         }
       })
      
    </script>
</body>
</html>