<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/static/img/diamond.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/diamond/team" role="button" aria-haspopup="true" aria-expanded="false">DIAMOND</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/diamond/team">팀 소개</a>
            <a class="dropdown-item" href="/diamond/shop">쇼핑몰</a>
            <a class="dropdown-item" href="/diamond/contact">오시는 길</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/community/free" role="button" aria-haspopup="true" aria-expanded="false">게시판</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/community/free">자유게시판</a>
            <a class="dropdown-item" href="/community/qna">Q & A</a>
            <a class="dropdown-item" href="/community/faq">FAQ</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mypage" data-bs-toggle="dropdown" href="/mypage/cage" role="button" aria-haspopup="true" aria-expanded="false" title="로그인을 먼저 해주세요.">마이 페이지</a>
          <div class="dropdown-menu">
              {% if session|length == 0 %}
              <a class="dropdown-item" href="/login">로그인</a>
              {% else %}
              <a class="dropdown-item" href="/logout">로그아웃</a>
              {% endif %}
            {% if session|length != 0 %}
            <div class="dropdown-divider" class="login"></div>
            <a class="dropdown-item my" href="/mypage/cage">사육장 정보</a>
            <a class="dropdown-item my" href="/mypage">내 정보</a>
            {% endif %}
          </div>
        </li>
        <li class="nav-item">
          {% if session|length == 0 %}
          <a class="nav-link" href="/login">로그인</a>
          {% else %}
          <a class="nav-link" href="/mypage/cage"><span id="ID">{{session['user_id']}}</span>님 반갑습니다.</a>
          {% endif %}
        </li>
        {% if session|length != 0 %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">(로그아웃)</a>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>