<html lang="ko">
<head>
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<form action="/" method="post">
<input type="text" readonly style="display:none;" name="token">
<input type="text" readonly style="display:none;" name="mid">
<input type="text" readonly style="display:none;" name="mlogin">
</form>
<!-- 네이버아디디로로그인 초기화 Script -->
<script type="text/javascript"> 
    var naver_id_login = new naver_id_login("58VENhxe4RuqFKX9sZ5e", "http://192.168.30.69:5020/login/result");
  // 접근 토큰 값 출력
  let token = naver_id_login.oauthParams.access_token;
  alert(token);
  let url = `https://nid.naver.com/oauth2.0/token?grant_type=delete&client_id=58VENhxe4RuqFKX9sZ5e&client_secret=2bRVAPmnNf&access_token=${token}&service_provider=NAVER`;
	$('input').val(`${url}`);
	

  // 네이버 사용자 프로필 조회
  naver_id_login.get_naver_userprofile("naverSignInCallback()");
  // 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
  function naverSignInCallback() {

	alert(naver_id_login.getProfileData('name'));
    alert(naver_id_login.getProfileData('email'));
    alert(naver_id_login.getProfileData('mobile'));
  }
	
</script>
</body>
</html>