{% extends "frm_body.html" %}
{% block title %}회원 가입{% endblock %}
{% block src %}
<script src="static/signup.js"></script>    
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block wrap %}
<div style="padding-top:5em;">
    <h1 class="text-success center" style="margin-bottom:2em;"><img src="/static/img/footprint.png">회원 가입<img src="/static/img/footprint.png"></h1>
        <figure class="text-center">
            <blockquote class="blockquote">
            <p class="mb-0">
            안녕하세요. DIAMOND를 방문해 주셔서 감사합니다.
            안내에 따라 회원가입을 하시게 되면, 더욱 많은 서비스를 이용하실 수 있습니다.<br>
            유토피아의 IoT 사육환경 제어 기술로 최고의 서비스를 회원님께 제공하겠습니다.
            </p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Welcome to <cite title="Source Title">DIAMOND</cite>
            </figcaption>
          </figure>
</div>
    <div class="table">
    <form method="post" action="/signup/result">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="signup_by" id="btnradio1" autocomplete="off" checked="">
            <label class="btn btn-outline-success" for="signup_by1">휴대폰 인증 가입</label>
            <input type="radio" class="btn-check" name="signup_by" id="btnradio3" autocomplete="off" checked="">
            <label class="btn btn-outline-successs" for="signup_by2">이메일 인증 가입</label>
        </div>
        <span>입력한 휴대폰 번호로 인증 후, 회원가입이 됩니다.</span>
        <span>이메일 인증 가입의 경우, 사육장 상태 알람 카톡 서비스는 제공되지 않습니다.</span>
        <table>
            <tr>
                <th>이름</th>
                <td>
                    <label class="form-label mt-4">이름<span class="red">*</span></label>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="이름">
                        <label for="floatingInput">이름</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th>휴대폰번호</th>
                <td>
                    <label class="form-label mt-4">휴대폰 번호<span class="red">*</span></label>
                    <div class="form-floating mb-3">
                        <select name="tel1">
                            <option value="010" selected>010</option>
                            <option value="011">011</option>
                            <option value="016">016</option>
                            <option value="017">017</option>
                            <option value="018">018</option>
                            <option value="019">019</option>
                            <option value="010">010</option>
                            <option value="011">011</option>
                        </select>-
                    <input type="text" name="tel2" class="form-control" id="floatingInput" maxlength="4" placeholder="0000">-
                    <input type="text" name="tel3" class="form-control" id="floatingInput" maxlength="4" placeholder="0000">
                    <button type="button" class="btn btn-secondary">인증</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="checkbox" value="all" name="term">전체 동의<span>선택사항 포함</span>
                </td>
            </tr>
            <tr> 
                <td colspan="2">
                    <input type="checkbox" value="use" name="term">이용 약관<span>(필수)</span>
                    <a href="">전문보기></a>
                </td>
            </tr>
            <tr> 
                <td colspan="2">
                    <input type="checkbox" value="pay_service" name="term">유료 서비스<span>(필수)</span>
                    <a href="">전문보기></a>
                </td>
            </tr>
            <tr> 
                <td colspan="2">
                    <input type="checkbox" value="private_info" name="term">개인정보 수집 및 이용<span>(필수)</span>
                    <a href="">전문보기></a>
                </td>
            </tr>
            <tr> 
                <td colspan="2">
                    <input type="checkbox" value="event" name="term">이벤트, 서비스 안내 수신<span>(선택)</span>
                    <a href="">전문보기></a>
                </td>
            </tr>
        </table>
        <input type="submit" value="회원가입">
    </form>
    </div>
{% endblock %}